<div class="row">
  <div class="col-sm-11" *ngIf="categories$ | async as categories">
    <form [formGroup]="filterForm" (ngSubmit)="createQuiz()">
      <select id="categorySelect" name="category" formControlName="category">
        <option value="null">Select category</option>
        <option [ngValue]="category" *ngFor="let category of categories">
          {{category.name}}
        </option>
      </select>
      <select id="subCategorySelect" formControlName="subCategory" *ngIf="filterForm.get('category')?.value?.id === 0">
        <option [value]="null">Select subcategorie</option>
        <option [ngValue]="subCategory" *ngFor="let subCategory of filterForm.get('category')?.value?.subCategories??[]">
          {{subCategory.name}}
        </option>
      </select>
      <select id="difficultySelect" formControlName="difficulty">
        <option [value]="null">Select difficulty</option>
        <option>Easy</option>
        <option>Medium</option>
        <option>Hard</option>
      </select>
      <button type="submit" class="primary" id="createBtn" [disabled]="filterForm.invalid">Create</button>
    </form>
  </div>
</div>
<div class="row">
   <app-quiz [questions]="questions$ | async" ></app-quiz>
</div>
